<app-core>
    <div class="section search-result-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading">Creation de compte</div>
                </div>
            </div>
            <div class="row">
                <form class="col-md-5">
                    <div class="form-group">
                       <label>Prenom</label>
                       <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Nom</label>
                        <input class="form-control" type="text" />
                    </div>

                    <div class="form-group">
                        <label>Nom utilisateur</label>
                        <input class="form-control" type="text" />
                    </div>

                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input class="form-control" type="password"/>
                    </div>
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Je m'inscris</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-core>